body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    height: 12vh;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    background-color: black;
    color: white;
}
h1 {
    flex: 2;
    justify-self: flex-start;
}
nav {
    height: inherit;
    flex: 1;
    justify-self: flex-end;
}
.menu {
    height: inherit;
    margin: 0;
    padding-right: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu-item {
    list-style-type: none;
    padding: 0 2rem;
}
footer {
    text-align: center;
}